
<!-- app/views/questions/ask.html.erb -->
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="question-container">
        <form action="answer" data-turbo="false">
          <input type="text" name="ask">
          <input type="submit" value="Ask!">
        </form>
      </div>
    </div>
  </div>
</div>
